.form-dongeng-block {
    background-color: #F1F6F9;
    font-size: 18px;
    color: black;
}

.form-dongeng-block .form-control:focus {
    border: 2px solid #14274E;
}

.form-dongeng-block .form-select:focus{
    border: 2px solid #14274E;
}

.form-dongeng-block .form-select {
    border: 1px solid #394867;
}

.form-dongeng-block .form-control {
    border: 1px solid #394867;
}

.form-dongeng-block button {
    border-radius: var(--bs-border-radius-pill)!important;
    width: 75%;
    background-color: #9BA4B4;
    border-color: #14274E;
    color: #F1F6F9;
}

.form-dongeng-block button:hover {
    border-radius: var(--bs-border-radius-pill)!important;
    width: 75%;
    background-color: #14274E;
    border-color: #14274E;
    color: #F1F6F9;
}

h3 {
    color: #F1F6F9;
}